
{% extends "maintemplate.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">

		<h3>About</h3>

		<p>
			Sharing Commons is a sharing network, built to help users share books between friends. 
			With Sharing Commons you can create an index, or library, of all your personal books, browse your friends' 
			libraries, and request to loan items from your friends. Sharing Commons tracks the items you are loaning 
			and borrowing, and notifies you when items are due.
		</p>

	</div>
</div>

{% endblock %}