
{% extends "maintemplate.html" %}

{% block title %}Book - {{ book.title }}{% endblock %}

{% block style %}

<style type="text/css">
	.infoLabel {
		padding-right: 10px;
		font-weight: bolder;
	}
</style>

{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<h3>Book Details</h3>
	</div>
</div>
<div class="row">
	<div class="span2">
		<div class="well">
			<img {% if book.thumbnail_link == "" %} src="{{ url_for('static', filename='img/nocoverart.png') }}"
				{% else %} src="{{ book.thumbnail_link }}" {% endif %} style="height:auto;width:150px;text-align:center"/>
		</div>
	</div>
	<div class="span10">
		<table class="infoTable">
			<tr>
				<td class="infoLabel">Title:</td>
				<td>{{ book.title }}</td>
			</tr>
			<tr>
				<td class="infoLabel">Author:</td>
				<td>{{ book.author }}</td>
			</tr>
			<tr>
				<td class="infoLabel">Details:</td>
				<td><a href="http://openlibrary.org/works/{{ book.item_key }}">View book in OpenLibrary</a></td>
		</table>
	</div>
</div>

{% endblock %}