
{% extends "maintemplate.html" %}

{% block title %}Discover{% endblock %}

{% block style %}

<style type="text/css">
	.library-btn-group {
		margin-bottom: 10px;
		width: 120px;
	}
	
	.library-button {
		width: 95px;
	}
	
	.notInNetwork {
		display: none;
	}
</style>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>

<script type="text/javascript">
	
	$(function() {
		$(".tooltip-button").tooltip({trigger: "hover"});
	});
	
	function add_item(item_subtype, item_key, item_index){
		//disable button and caret and destroy tooltip
		$("#add_button" + item_index).attr("disabled", "disabled");
		$("#caret_button" + item_index).attr("disabled", "disabled");
		$("#add_btn_group" + item_index).tooltip("destroy")
		$.post("/library/" + item_subtype + "/" + item_key, function(data) {
			//update text to In Library and update link to library
			//the link doesn't work as a href because it's a button, not an "a"
			$("#add_button" + item_index).text("In Library");
			$("#add_button" + item_index).removeAttr("onclick");
			$("#add_button" + item_index).attr("href", "\library");
			//update color to primary
			$("#add_button" + item_index).removeClass("btn-inverse").addClass("btn-primary");
			$("#caret_button" + item_index).removeClass("btn-inverse").addClass("btn-primary");
			//update tooltip
			$("#add_btn_group" + item_index).attr("title", "Item is already in your library. Click to view library.").tooltip({trigger: "hover"});
			//remove entry of item type clicked
			$("#add_" + item_subtype + item_index).hide();
			//enable button and caret
			$("#add_button" + item_index).removeAttr("disabled");
			$("#caret_button" + item_index).removeAttr("disabled");
		}).error(function() {
			$("#add_button" + item_index).removeAttr("disabled");
		});
		
		return false;
	}
	
	function request_item(item_key, title, button){
		$(button).attr("disabled", "disabled");
		$.getJSON("/search/in_network/" + item_key, function(data) {
			$(button).removeAttr("disabled");
			$('#borrowTable').empty();
			$.each(data, function(key, val) {
				
				var link = $('<a>', {
					'class': 'btn btn-inverse',
					onclick: 'borrow_item("' + val.itemCopyID + '", "' + key + '", this, "' + title + '", "' + val.username + '")',
					html: 'Request to Borrow'
				});
				if(!val.available) {
					link.attr("disabled", "");
				}
				
				$('#borrowTable')
				.append(
					$('<tr>')
					.append(
						$('<td>', {
							html: val.username
						}))
					.append(
						$('<td>')
						.append(
							link
						)
					)
				);
			});
			$("#borrowModal").modal('show');
		}).error(function() {
			$(button).removeAttr("disabled");
		});
		
		return false;
	}
	
	function borrow_item(itemCopyID, lenderID, button, itemTitle, lenderName) {
		$(button).attr("disabled", "disabled");
		$.getJSON("/setup_item_borrow/" + lenderID + "/" + itemCopyID, function(data) {
			$("#borrowModal").modal('hide');
			$("#messageItem").text(itemTitle);
			$("#messageUser").text(lenderName);
			$("#message").show();
		});
	}
	
	function hide_message() {
		$("#message").hide();
		return false;
	}
	
	function display_content(spanID) {
		var replaceID
		
		// Find span with content
		if(document.getElementById("all-books-content").innerHTML.length > 1) {
			replaceID = "all-books-content";
		}else if(document.getElementById("books-content").innerHTML.length > 1) {
			replaceID = "books-content";
		}else if(document.getElementById("ebooks-content").innerHTML.length > 1) {
			replaceID = "ebooks-content";
		}else if(document.getElementById("audiobooks-content").innerHTML.length > 1) {
			replaceID = "audiobooks-content";
		}else if(document.getElementById("all-movies-content").innerHTML.length > 1) {
			replaceID = "all-movies-content";
		}else if(document.getElementById("dvds-content").innerHTML.length > 1) {
			replaceID = "dvds-content";
		}else if(document.getElementById("blurays-content").innerHTML.length > 1) {
			replaceID = "blurays-content";
		}
		
		// Move content
		if (spanID != replaceID) {
			document.getElementById(spanID).innerHTML = document.getElementById(replaceID).innerHTML;
			document.getElementById(replaceID).innerHTML = ""
			
			// Show/hide appropriate items
			var item_type_subtype
			var row_class // I'm specifying the rows to count because jquery ends up counting incorrectly if visible rows are counted (perhaps it's a delay issue)
			if(spanID=='all-books-content') {
				item_type_subtype = 'books'
				row_class = ['row-book','row-ebook','row-audiobook']
				$("tr.row-book").show();
				$("tr.row-ebook").show();
				$("tr.row-audiobook").show();
				$("tr.row-dvd").hide();
				$("tr.row-bluray").hide();			
				hide_duplicates(); // Only necessary when showing all books, since (type,key) duplicates are removed in the backend.
			}else if(spanID=='books-content') {
				item_type_subtype = 'pysical books'
				row_class = ['row-book']
				$("tr.row-book").show();
				$("tr.row-ebook").hide();
				$("tr.row-audiobook").hide();
				$("tr.row-dvd").hide();
				$("tr.row-bluray").hide();	
			}else if(spanID=='ebooks-content') {
				item_type_subtype = 'eBooks'
				row_class = ['row-ebook']
				$("tr.row-book").hide();
				$("tr.row-ebook").show();
				$("tr.row-audiobook").hide();
				$("tr.row-dvd").hide();
				$("tr.row-bluray").hide();	
			}else if(spanID=='audiobooks-content') {
				item_type_subtype = 'audiobooks'
				row_class = ['row-audiobook']
				$("tr.row-book").hide();
				$("tr.row-ebook").hide();
				$("tr.row-audiobook").show();
				$("tr.row-dvd").hide();
				$("tr.row-bluray").hide();	
			}else if(spanID=='all-movies-content') {
				item_type_subtype = 'movies'
				row_class = ['row-dvd','row-bluray']
				$("tr.row-book").hide();
				$("tr.row-ebook").hide();
				$("tr.row-audiobook").hide();
				$("tr.row-dvd").show();
				$("tr.row-bluray").show();	
			}else if(spanID=='dvds-content') {
				item_type_subtype = 'DVDs'
				row_class = ['row-dvd']
				$("tr.row-book").hide();
				$("tr.row-ebook").hide();
				$("tr.row-audiobook").hide();
				$("tr.row-dvd").show();
				$("tr.row-bluray").hide();	
			}else if(spanID=='blurays-content') {
				item_type_subtype = 'Blu-rays'
				row_class = ['row-bluray']
				$("tr.row-book").hide();
				$("tr.row-ebook").hide();
				$("tr.row-audiobook").hide();
				$("tr.row-dvd").hide();
				$("tr.row-bluray").show();	
			}
			msg_if_no_results(row_class, item_type_subtype);
		}
	}
	
	function hide_duplicates() {
		var contentArray=new Array()
		var numRows = $("#content-table tr").length
		var className
		
		// Create array of item keys
		for (var i=0;i<numRows;i++) {
			className=$(".content-row").get(i).className;
			contentArray[i]=className.substring(0,className.search(" ")); // Item is first word in class name
		}
		
		// Create array of duplicate item keys
		var duplicatesArray = []
		for (var i=0;i<contentArray.length - 1;i++) {
			if (contentArray[i+1]==contentArray[i]) {
				duplicatesArray.push(contentArray[i]);
			}
		}
		
		// Show only one of duplicate items
		for (var i=0;i<duplicatesArray.length;i++) {
			$("." + duplicatesArray[i]).hide(); // Hide all
			$("." + duplicatesArray[i]).first().show(); // Show first
		}
	}
	
	// Hide duplicates on initial load, since showing All Items
	hide_duplicates();
	
	// Show message if no results
	msg_if_no_results(["row-book","row-ebook","row-audiobook"],"books"); // Manually specified books because it loads to books
	function msg_if_no_results(row_class, item_type_subtype) {
		// Show message when the selection returns no results
		if ($('#content-table tr').length == 0) {
			$("#no-results-msg").html("<h4>There are no items in your network.</h4><p>Build your network and you'll begin seeing your connections' items here.</p>");
		} else {
		
			// Loop through tr's and count rows visible
			var visibleCount = 0
			for(var i=0; i < row_class.length;i++) {
				$('tr.' + row_class[i]).each(function() {
					visibleCount = visibleCount + 1;
				});
			}
			
			if (visibleCount == 0) {
				$("#no-results-msg").html("<h4>There are no " + item_type_subtype + " available in your network</h4>");
			} else {
				$("#no-results-msg").html("");
			}
		}
	}
	
	// Hide movies on initial load, since it loads to books
	$("tr.row-dvd").hide();
	$("tr.row-bluray").hide();		
	// TODO: A "Browse All" section should be added
		
</script>

{% endblock %}
		
{% block content %}

<div class="row" style="position: relative;">
	<div class="span6 offset3" style="position: absolute; top: 10px;">
		<div id="message" class="alert" style="display: none;">
			<a class="close" onclick="hide_message()">&times;</a>
			You have requested to borrow <span id="messageItem"></span> from <span id="messageUser"></span>.
		</div>
	</div>
</div>

<div id="borrowModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="borrowModalLabel">Users Who Have This Item</h3>
  </div>
  <div class="modal-body">
    <table id="borrowTable" class="table">
	</table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

<br>
<div class="row">
	<div class="tabbable tabs-left span2">
		<ul class="nav nav-list affix">
			<li class="active"><a href="#allbooks" data-toggle="tab" onClick="display_content('all-books-content')">Browse All Books</a></li>
			<li><a href="#books" data-toggle="tab" onClick="display_content('books-content')">&nbsp;&nbsp;&nbsp;Browse Books</a></li>
			<li><a href="#ebooks" data-toggle="tab" onClick="display_content('ebooks-content')">&nbsp;&nbsp;&nbsp;Browse eBooks</a></li>
			<li><a href="#audiobooks" data-toggle="tab" onClick="display_content('audiobooks-content')">&nbsp;&nbsp;&nbsp;Browse Audiobooks</a></li>
			<li><a href="#allmovies" data-toggle="tab" onClick="display_content('all-movies-content')">Browse All Movies</a></li>
			<li><a href="#dvds" data-toggle="tab" onClick="display_content('dvds-content')">&nbsp;&nbsp;&nbsp;Browse DVDs</a></li>
			<li><a href="#blurays" data-toggle="tab" onClick="display_content('blurays-content')">&nbsp;&nbsp;&nbsp;Browse Blu-rays</a></li>
		</ul>
	</div>
	<div class="tab-content span10">
		<div id="no-results-msg"></div>
		<div class="tab-pane active" id="allbooks">
			<span id="all-books-content">
				<table class="table" id="content-table">
					<tbody>
						{% for item in itemlist %}
							<tr class="{{ item.item_key }} content-row row-{{ item.item_subtype }}" id="row{{ itemlist.index(item) }}">
								<td style="width:100px"><img {% if item.thumbnail_link == "" %}src="{{ url_for('static', filename='img/nocoverart.png') }}"
											{% else %}src="{{ item.thumbnail_link }}"{% endif %} 
											style="height:auto;width:100px;"/></td>
								<td>
										Title: {{ item.title }}<br/>
										Author: {{ item.author }}
								</td>
								<td style="width: 150px">
									<div class="btn-group library-btn-group tooltip-button" data-toggle="tooltip" data-placement="top" 
										title="{% if item.inLibrary == [] %}{% if user.is_authenticated() %}Add to library and make available to your network{% 
										else %}Join or login to add to your library{% endif %}{% else %}Book is already in your library. Click to view library.{% endif %}" 
										id="add_btn_group{{ itemlist.index(item) }}">
										<a class="btn btn-{% if item.inLibrary == [] %}inverse{% else %}primary{% endif %} library-button"
											{% if user.is_authenticated() == False %}disabled{% endif %} 
											{% if item.inLibrary == [] %}onclick="{% if user.is_authenticated() and item.inLibrary == [] %}add_item('book', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}"{% else %}href="/library"{% endif %} 
											id="add_button{{ itemlist.index(item) }}">{% if item.inLibrary == [] %}Add&nbsp;to&nbsp;Library{% else %}In&nbsp;Library{% endif %}</a>
										<a class="btn btn-{% if item.inLibrary == [] %}inverse{% else %}primary{% endif %} dropdown-toggle" data-toggle="dropdown" id="caret_button{{ itemlist.index(item) }}">
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											{% if item.item_type == 'book'%}
												{% if 'book' not in item.inLibrary %}<li><a id="add_book{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_item('book', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;Book&nbsp;to&nbsp;Library</a></li>{% endif %}
												{% if 'ebook' not in item.inLibrary %}<li><a id="add_ebook{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_item('ebook', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;eBook&nbsp;to&nbsp;Library</a></li>{% endif %}
												{% if 'audiobook' not in item.inLibrary %}<li><a id="add_audiobook{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_item('audiobook', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;Audiobook&nbsp;to&nbsp;Library</a></li>{% endif %}
											{% elif item.item_type == 'movie' %}
												{% if 'dvd' not in item.inLibrary %}<li><a id="add_dvd{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_item('dvd', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;DVD&nbsp;to&nbsp;Library</a></li>{% endif %}
												{% if 'bluray' not in item.inLibrary %}<li><a id="add_bluray{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_item('bluray', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;Blu-ray&nbsp;to&nbsp;Library</a></li>{% endif %}
											{% endif %}
										</ul>
									</div>
									<a class="btn tooltip-button"
										style="width:120px" 
										{% if user.is_authenticated() == False %}disabled{% endif %}
										onclick="{% if user.is_authenticated() %}request_item('{{ item.item_key }}', '{{ item.escapedtitle }}', this){% endif %}"
										data-toggle="tooltip" data-placement="bottom"
										title="{% if user.is_authenticated() %}Request to borrow item from one of your connections{% 
										else %}Join or login to request to borrow items{% endif %}">Request&nbsp;to&nbsp;Borrow</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</span>
		</div>
		<div class="tab-pane" id="books">
			<span id="books-content"></span>
		</div>
		<div class="tab-pane" id="ebooks">
			<span id="ebooks-content"></span>
		</div>
		<div class="tab-pane" id="audiobooks">
			<span id="audiobooks-content"></span>
		</div>
		<div class="tab-pane" id="allmovies">
			<span id="all-movies-content"></span>
		</div>
		<div class="tab-pane" id="dvds">
			<span id="dvds-content"></span>
		</div>
		<div class="tab-pane" id="blurays">
			<span id="blurays-content"></span>
		</div>
	</div>
</div>

{% endblock %}
