{% extends "maintemplate.html" %}

{% block title %}Sharing Commons: The Place to Share{% endblock %}

{% block script %}

<script type="text/javascript">

	var connectModalMessage
	
	$(function() {
	
		$(".tooltip-button").tooltip({trigger: "hover"});
		
		// If attempting to connect, set message appropriate to connection type
		if ({{ connectType }} != 0) { // no connect type (don't show modal)
			if ({{ connectType }} == 1) { // invalid user
				connectModalMessage = "The connection link you provided includes an invalid User ID. Please check the link and try again.";
				$("#connectModalSend").hide();
				$("#connectModalCancel").text("Close");
			} else if ({{ connectType }} == 2) { // valid user
				connectModalMessage = "Please confirm your intention to send a connection request to {{ connectUserName }}. Once {{ connectUserName }} accepts your request, {{ connectUserName }}'s library will appear in your network and within applicable search results.";
			} else if ({{ connectType }} == 3) { // own self
				connectModalMessage = "You cannot connect with yourself. Please use the link you provided as an invitation to others to connect with you.";
				$("#connectModalSend").hide();
				$("#connectModalCancel").text("Close");
			} else if ({{ connectType }} == 4) { // already a connection
				connectModalMessage = "You are attempting to connect with {{ connectUserName }}, but {{ connectUserName }} is already one of your connections. Click Network in the header to see a list of all your connections.";
				$("#connectModalSend").hide();
				$("#connectModalCancel").text("Close");
			}
			
			// Show modal
			$("#connectModalMessage").text(connectModalMessage);
			$("#connectModal").modal('show');
		}
		
		$('.datepicker').on('dateChanged', function(ev) {
			alert("Update the due date!");
		});
	});
	
	// Send connection request to user in invitation link
	function sendRequest() {
		$.ajax({
			url:"/manage_network/" + {{ connectUserID }},
			type: 'POST',
			success:function(data) {
				//update pending requests;
				window.location='/';
			}
		});
		return false;
	}
	
	function accept_request(notificationID, button) {
		$(button).attr("disabled", "disabled");
		$.ajax({
			url: "/confirm_notification/" + notificationID,
			type: 'GET',
			success: function(data) {
				$(button).parent().parent().hide();
				if($("#pending_requests tr:visible").length == 0) {
					$("#pending_requests").html("<tr><td colspan='3'>You have no pending requests.</td></tr>");
				}
				update_items_lending();
			}
		}).error(function () {
			$(button).removeAttr("disabled");
		});
		
		return false;
	}
	
	function reject_request(notificationID, button) {
		$(button).attr("disabled", "disabled");
		$.ajax({
			url: "/reject_notification/" + notificationID,
			type: 'GET',
			success: function(data) {
				$(button).parent().parent().hide();
				if($("#pending_requests tr:visible").length == 0) {
					$("#pending_requests").html("<tr><td colspan='3'>You have no pending requests.</td></tr>");
				}
			}
		}).error(function () {
			$(button).removeAttr("disabled");
		});
		
		return false;
	}
	
	function update_items_lending() {
		// Update items lending table, which will receive a 
		// new item after a requested borrow has been approved
		// TODO
	}
	
	function requestCheckIn(itemCopyID, button) {
		// Request to check in item user is borrowing
		$(button).attr("disabled", "disabled");
		$.ajax({
			url: "/return_item/" + itemCopyID,
			type: 'GET',
			success: function(data) {
				$(button).attr("disabled", "");
				$(button).attr("onclick", "");
				$(button).html("Pending Confirmation");
			},
			error: function() {
				$(button).removeAttr("disabled");
			}
		});
		
		return false;
	}
	
	function checkIn(itemCopyID, button) {
		// Check in item user is lending
		$(button).attr("disabled", "disabled");
		$.ajax({
			url: "/return_item/" + itemCopyID,
			type: 'GET',
			success: function(data) {
				$(button).parent().parent().siblings(":nth-child(6)").show();
				$(button).parent().parent().remove();
				if($("#items_lending tr:visible").length == 1) {
					$("#items_lending").html("<tr><td colspan='3'>You are not lending any books.");
				}
				if($("#items_lending tbody tr:hidden").length == 0) {
					$("#extraitems_lend").remove();
				}
			},
			error: function() {
				$(button).removeAttr("disabled");
			}
		});
		
		return false;
	}


</script>

{% endblock %}

{% block content %}

	{% if user.is_authenticated() %}

		<div id="connectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" onclick="window.location='/'" aria-hidden="true">&times;</button>
			<h3 id="connectModalLabel">Send Request to Connect</h3>
		  </div>
		  <div class="modal-body">
			<p><span id="connectModalMessage"></span></p>
		  </div>
		  <div class="modal-footer">
			<a class="btn btn-inverse" id="connectModalSend" onclick="sendRequest()" data-dismiss="modal">Send Request</a>
			<a class="btn" id="connectModalCancel" data-dismiss="modal" onclick="window.location='/'">Cancel</a>
		  </div>
		</div>
	
		<div class="row">
			<div class="span12">

				<h3>Search to Find or Add Books</h3>

				<p>Search to find books available within your network or to add books to your library that you own and are willing to share.</p>

				<div id="searchBar">
					<form id="searchForm" action="/search">
					<input name="query" type="text" class="input-xxlarge search-query" placeholder="Enter Title, Author, or ISBN...">
					<button type="submit" class="btn"">Search</button>
					</form>
				</div>
			
			</div>
		</div>

		<div class="row">
			<div class="span12">

				<h3>Pending Requests</h3>
				
				<table class="table table-striped table-bordered" id="pending_requests">
					{% if user.pending_actions|length < 1 %}
						<tr>
							<td colspan="3">You have no pending requests.</td>
						</tr>
					{% else %}
						{% for action in user.pending_actions %}
						<tr>
							<td style="vertical-align: middle">
								{{ action.text }}
							</td>
							<td style="vertical-align: middle">
								{{ action.created | timesince }}
							</td>
							<td style="text-align:center;width:200px">
								{% if action.can_accept %}
								<a class="btn btn-inverse" onclick="accept_request('{{ action.key.id() }}', this)" style="width:140px">
									{{ action.accept_text }}
								</a>
								{% endif %}
							</td>
							<td style="text-align:center;width:200px">
								{% if action.can_reject %}
								<a class="btn" onclick="reject_request('{{ action.key.id() }}', this)" style="width:140px">
									{{ action.reject_text }}
								</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					{% endif %}	
				</table>	
			</div>
		</div>

		<div class="row">
			<div class="span12">

				<h3>Books & Movies I'm Borrowing</h3>
				
				<table class="table table-striped table-bordered" id="items_borrowing">
					{% if user.get_borrowed_items()|length < 1 %}
						<tr>
							<td colspan="3">You are not borrowing any books.</td>
						</tr>
					{% else %}
					<thead>
						<tr>
							<th>
								Title
							</th>
							<th>
								Owner
							</th>
							<th style="text-align:center;width:200px">
								Due Date
							</th>
							<th style="text-align:center;width:200px">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for item in user.get_borrowed_items() %}
							<tr {% if loop.index > 5 %}style="display: none;"{% endif %}>
								<td>
									{{ item.display() }}
								</td>
								<td>
									{{ item.get_owner() }}
								</td>
								<td style="text-align:center;">
									{{ item.due_date }}
								</td>
								<td style="text-align:center;">
									<a class="btn btn-inverse tooltip-button" 
										style="width:140px" 
										onclick="requestCheckIn('{{ item.key.id() }}', this)"
										data-toggle="tooltip" data-placement="right"
										title="Report item as checked in. Requires lender verification.">Check In</a>
								</td>
							</tr>
							{% if loop.last and loop.index > 5 %}
								<tr>
									<td colspan="4" style="text-align:center; background-color: white;"><b>Only the first five results are shown here. <a href="/library#BorrowedItems">View all books you are borrowing</a>.</b></td>
								</tr>
							{% endif %}
						{% endfor %}
					{% endif %}	
				</table>
			</div>
		</div>

		<div class="row">
			<div class="span12">

				<h3>Books & Movies I'm Lending</h3>
				
				<table class="table table-striped table-bordered" id="items_lending">
					{% if user.get_lent_items()|length < 1 %}
						<tr>
							<td colspan="3">You are not lending any items.</td>
						</tr>
					{% else %}
					<thead>
						<tr>
							<th>
								Title
							</th>
							<th>
								Borrower
							</th>
							<th style="text-align:center;width:200px">
								Due Date
							</th>
							<th style="text-align:center;width:200px">
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						{% for item in user.get_lent_items() %}
							<tr {% if loop.index > 5 %}style="display: none;"{% endif %}>
								<td>
									{{ item.display() }}
								</td>
								<td>
									{{ item.get_borrower() }}
								</td>
								<td style="text-align:center;">
									{{ item.due_date }}
									<!--<input class="span2 datepicker" size="16" type="text" value="{{ item.due_date }}">-->
								</td>
								<td style="text-align:center;">
									<a class="btn btn-inverse tooltip-button" 
										style="width:140px" 
										onclick="checkIn('{{ item.key.id() }}', this)"
										data-toggle="tooltip" data-placement="right"
										title="Report item as checked in.">Check In</a>
								</td>
							</tr>
							{% if loop.last and loop.index > 5 %}
								<tr id="extraitems_lend">
									<td colspan="4" style="text-align:center; background-color: white;"><b>Only the first five results are shown here. <a href="/library#LendedItems">View all books you are lending</a>.</b></td>
								</tr>
							{% endif %}
						{% endfor %}
					{% endif %}	
				</table>
			</div>
		</div>

	{% else %}

		<div class="row">
			<div class="span12">
			
				<h3>Welcome to Sharing Commons</h3>
				
				<p>
					You've accessed a preview of Sharing Commons, a web app created to make sharing easier. 
					The app is under active developement, changing almost daily. If you've been invited to 
					give the app a try, visit the <a href="/join">join page</a> to get started. If you come 
					across any bugs, or have suggestions to improve the usability or functionality of Sharing 
					Commons, please share your comments through the <a href="/reportbug">Report a Bug page</a> 
					(the link is found in the footer of every page). Please be patient with the Sharing Commons 
					team as we build the product. Thanks!
				</p>

				<h3>What is Sharing Commons?</h3>

				<p>Sharing Commons is a sharing network, built to help users share books between friends. 
				With Sharing Commons you can create an index, or library, of all your personal books, browse your friends' 
				libraries, and request to loan items from your friends. Sharing Commons tracks the items you are loaning 
				and borrowing, and notifies you when items are due. <a href="/join">Join today!</a></p>

			</div>
		</div>

		<div class="row">
			<div class="span12">

				<h3>Discover items already on Sharing Commons</h3>
				
				<div id="searchBar">
					<form id="searchForm" action="/search">
					<input name="query" type="text" class="input-xxlarge search-query" placeholder="Enter Title, Author, or ISBN...">
					<button type="submit" class="btn">Search</button>
					</form>
				</div>

			</div>
		</div>

	{% endif %}

{% endblock %}
