
{% extends "maintemplate.html" %}

{% block title %}Join{% endblock %}

{% block script %}

<script type="text/javascript">

	// Show intro modal
	$("#introModal").modal('show');

</script>

{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/signin-buttons.css') }}"/>

<div id="introModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="introModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="introModalLabel">Disclaimer</h3>
	</div>
	<div class="modal-body">
		<p>
			Thank you for your interest in participating in the Sharing Commons private beta test. Participation is by direct invitation from the team only. If you have not been invited, your account may be deleted.
		</p>
		<p>
			By participating in the beta test, you agree that the email account associated with your Google Account may be used for correspondence between Sharing Commons and yourself, for the purpose of improving the product.
		</p>
	</div>
	<div class="modal-footer">
		<a class="btn" id="introModalCancel" data-dismiss="modal">Continue</a>
	</div>
</div>

<div class="row">
	<div class="span12">

		<h3>Join</h3>

		<p>
			Rather than requiring you to create yet another username and password, Sharing Commons uses your Google Account as a login. 
			To join Sharing Commons, simply authorize your Google Account by clicking the button below. Other Sharing Commons users will 
			only be able to see your email address if you request to borrow from them.</p>
		<br/>
		<a href="/handle-join" class="zocial google">Sign up with Google</a>
		<br/><br/>
		<p>Don't have a Google Account? <a href="https://accounts.google.com/SignUpWithoutGmail">Sign up for a Google Account with any email address</a>.
	</div>
</div>
<br>
{% endblock %}