<!DOCTYPE html>

<html>

<head>

	<title>{% block title %}{% endblock %} | Sharing Commons</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/maintemplate.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootswatch.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}"/>
	{% block style %}{% endblock %}

	<script type="text/javascript">
	
		function initiateSearch() {
			$('#searchBarForm').submit();
		}
		
		function update_search_filter(button) {
			if(button.id=="filter-all-books") {
				// Update button name
				$("#searchFilter").html("All Books <span class='caret'></span>");
				$("#filter-all-books").addClass("active")
				$("#filter-books").removeClass("active")
				$("#filter-ebooks").removeClass("active")
				$("#filter-audiobooks").removeClass("active")
				$("#filter-all-movies").removeClass("active")
				$("#filter-dvds").removeClass("active")
				$("#filter-blurays").removeClass("active")
				// Set filter attributes
				$("#filter-item-type").attr("name", "item_type")
				$("#filter-item-type").attr("value", "book")
				$("#filter-subtype-book").removeAttr("name")
				$("#filter-subtype-book").removeAttr("value")
				$("#filter-subtype-ebook").removeAttr("name")
				$("#filter-subtype-ebook").removeAttr("value")
				$("#filter-subtype-audiobook").removeAttr("name")
				$("#filter-subtype-audiobook").removeAttr("value")
				$("#filter-subtype-dvds").removeAttr("name")
				$("#filter-subtype-dvds").removeAttr("value")
				$("#filter-subtype-blurays").removeAttr("name")
				$("#filter-subtype-blurays").removeAttr("value")
				//Update placeholder
				$("#nav_search_input").attr("placeholder","Search for books by title, author, or ISBN")
			} else if(button.id=="filter-books") {
				// Update button name
				$("#searchFilter").html("Books <span class='caret'></span>");
				$("#filter-all-books").removeClass("active")
				$("#filter-books").addClass("active")
				$("#filter-ebooks").removeClass("active")
				$("#filter-audiobooks").removeClass("active")
				$("#filter-all-movies").removeClass("active")
				$("#filter-dvds").removeClass("active")
				$("#filter-blurays").removeClass("active")
				// Set filter attributes
				$("#filter-item-type").removeAttr("name")
				$("#filter-item-type").removeAttr("value")
				$("#filter-subtype-book").attr("name", "subtype_book")
				$("#filter-subtype-book").attr("value", "true")
				$("#filter-subtype-ebook").removeAttr("name")
				$("#filter-subtype-ebook").removeAttr("value")
				$("#filter-subtype-audiobook").removeAttr("name")
				$("#filter-subtype-audiobook").removeAttr("value")
				$("#filter-subtype-dvds").removeAttr("name")
				$("#filter-subtype-dvds").removeAttr("value")
				$("#filter-subtype-blurays").removeAttr("name")
				$("#filter-subtype-blurays").removeAttr("value")
				//Update placeholder
				$("#nav_search_input").attr("placeholder","Search for books by title, author, or ISBN")
			} else if(button.id=="filter-ebooks") {
				// Update button name
				$("#searchFilter").html("eBooks <span class='caret'></span>");
				$("#filter-all-books").removeClass("active")
				$("#filter-books").removeClass("active")
				$("#filter-ebooks").addClass("active")
				$("#filter-audiobooks").removeClass("active")
				$("#filter-all-movies").removeClass("active")
				$("#filter-dvds").removeClass("active")
				$("#filter-blurays").removeClass("active")
				// Set filter attributes
				$("#filter-item-type").removeAttr("name")
				$("#filter-item-type").removeAttr("value")
				$("#filter-subtype-book").removeAttr("name")
				$("#filter-subtype-book").removeAttr("value")
				$("#filter-subtype-ebook").attr("name", "subtype_ebook")
				$("#filter-subtype-ebook").attr("value", "true")
				$("#filter-subtype-audiobook").removeAttr("name")
				$("#filter-subtype-audiobook").removeAttr("value")
				$("#filter-subtype-dvds").removeAttr("name")
				$("#filter-subtype-dvds").removeAttr("value")
				$("#filter-subtype-blurays").removeAttr("name")
				$("#filter-subtype-blurays").removeAttr("value")
				//Update placeholder
				$("#nav_search_input").attr("placeholder","Search for ebooks by title, author, or ISBN")
			} else if(button.id=="filter-audiobooks") {
				$("#searchFilter").html("Audiobooks <span class='caret'></span>");
				// Update button name
				$("#filter-all-books").removeClass("active")
				$("#filter-books").removeClass("active")
				$("#filter-ebooks").removeClass("active")
				$("#filter-audiobooks").addClass("active")
				$("#filter-all-movies").removeClass("active")
				$("#filter-dvds").removeClass("active")
				$("#filter-blurays").removeClass("active")
				// Set filter attributes
				$("#filter-item-type").removeAttr("name")
				$("#filter-item-type").removeAttr("value")
				$("#filter-subtype-book").removeAttr("name")
				$("#filter-subtype-book").removeAttr("value")
				$("#filter-subtype-ebook").removeAttr("name")
				$("#filter-subtype-ebook").removeAttr("value")
				$("#filter-subtype-audiobook").attr("name", "subtype_audiobook")
				$("#filter-subtype-audiobook").attr("value", "true")
				$("#filter-subtype-dvds").removeAttr("name")
				$("#filter-subtype-dvds").removeAttr("value")
				$("#filter-subtype-blurays").removeAttr("name")
				$("#filter-subtype-blurays").removeAttr("value")
				//Update placeholder
				$("#nav_search_input").attr("placeholder","Search for audiobooks by title, author, or ISBN")
			} else if(button.id=="filter-all-movies") {
				// Update button name
				$("#searchFilter").html("All Movies <span class='caret'></span>");
				$("#filter-all-books").removeClass("active")
				$("#filter-books").removeClass("active")
				$("#filter-ebooks").removeClass("active")
				$("#filter-audiobooks").removeClass("active")
				$("#filter-all-movies").addClass("active")
				$("#filter-dvds").removeClass("active")
				$("#filter-blurays").removeClass("active")
				// Set filter attributes
				$("#filter-item-type").attr("name", "item_type")
				$("#filter-item-type").attr("value", "movie")
				$("#filter-subtype-book").removeAttr("name")
				$("#filter-subtype-book").removeAttr("value")
				$("#filter-subtype-ebook").removeAttr("name")
				$("#filter-subtype-ebook").removeAttr("value")
				$("#filter-subtype-audiobook").removeAttr("name")
				$("#filter-subtype-audiobook").removeAttr("value")
				$("#filter-subtype-dvds").removeAttr("name")
				$("#filter-subtype-dvds").removeAttr("value")
				$("#filter-subtype-blurays").removeAttr("name")
				$("#filter-subtype-blurays").removeAttr("value")
				//Update placeholder
				$("#nav_search_input").attr("placeholder","Search for movies by title or keyword")
			} else if(button.id=="filter-dvds") {
				$("#searchFilter").html("DVDs <span class='caret'></span>");
				// Update button name
				$("#filter-all-books").removeClass("active")
				$("#filter-books").removeClass("active")
				$("#filter-ebooks").removeClass("active")
				$("#filter-audiobooks").removeClass("active")
				$("#filter-all-movies").removeClass("active")
				$("#filter-dvds").addClass("active")
				$("#filter-blurays").removeClass("active")
				// Set filter attributes
				$("#filter-item-type").removeAttr("name")
				$("#filter-item-type").removeAttr("value")
				$("#filter-subtype-book").removeAttr("name")
				$("#filter-subtype-book").removeAttr("value")
				$("#filter-subtype-ebook").removeAttr("name")
				$("#filter-subtype-ebook").removeAttr("value")
				$("#filter-subtype-audiobook").removeAttr("name")
				$("#filter-subtype-audiobook").removeAttr("value")
				$("#filter-subtype-dvds").attr("name", "subtype_dvd")
				$("#filter-subtype-dvds").attr("value", "true")
				$("#filter-subtype-blurays").removeAttr("name")
				$("#filter-subtype-blurays").removeAttr("value")
				//Update placeholder
				$("#nav_search_input").attr("placeholder","Search for DVDs by title or keyword")
			} else if(button.id=="filter-blurays") {
				$("#searchFilter").html("Blu-rays <span class='caret'></span>");
				// Update button name
				$("#filter-all-books").removeClass("active")
				$("#filter-books").removeClass("active")
				$("#filter-ebooks").removeClass("active")
				$("#filter-audiobooks").removeClass("active")
				$("#filter-all-movies").removeClass("active")
				$("#filter-dvds").removeClass("active")
				$("#filter-blurays").addClass("active")
				// Set filter attributes
				$("#filter-item-type").removeAttr("name")
				$("#filter-item-type").removeAttr("value")
				$("#filter-subtype-book").removeAttr("name")
				$("#filter-subtype-book").removeAttr("value")
				$("#filter-subtype-ebook").removeAttr("name")
				$("#filter-subtype-ebook").removeAttr("value")
				$("#filter-subtype-audiobook").removeAttr("name")
				$("#filter-subtype-audiobook").removeAttr("value")
				$("#filter-subtype-dvds").removeAttr("name")
				$("#filter-subtype-dvds").removeAttr("value")
				$("#filter-subtype-blurays").attr("name", "subtype_bluray")
				$("#filter-subtype-blurays").attr("value", "true")
				//Update placeholder
				$("#nav_search_input").attr("placeholder","Search for Blu-rays by title or keyword")
			}
		}
	
	</script>
	
	<script type="text/javascript">
	
		// Google Analytics tracking code
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-40614102-1', 'sharingcommons.com');
		ga('send', 'pageview');

	</script>

</head>


<body>
	<div id="wrap">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand pull-left" href="{{ url_for('index') }}">Sharing Commons<sup style="font-size:10px;vertical-align:top;">BETA</sup></a>
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="float:left;">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					{% if user.is_authenticated() %}
						<ul class="nav pull-right" id="settings_dropdown">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-cog"></i>
								<span class="caret" style="margin-left:-3px"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/user/{{ user.get_id() }}">{{ user.email }}</a></li>
									<li class="divider"></li>
									<li><a href="/settings">Settings</a></li>
									<li><a href="/logout">Sign Out</a></li>
								</ul>
							</li>
						</ul>
						<form id="searchBarForm" class="navbar-search pull-right" action="/search">
							<span id="search_input_holder">
							<div class="btn-group" style="display:inline-block;position:absolute;top:-16px;border-bottom-left-radius:15px;border-top-left-radius:15px;">
								<a id="searchFilter" class="btn dropdown-toggle" data-toggle="dropdown" style="width:80px;background-image:none;background-color:transparent;border-color:transparent;border-bottom-left-radius:15px;border-top-left-radius:15px;border-right-color: #e6e6e6;">
									All Books
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a id="filter-all-books" onclick="update_search_filter(this);" class="active">All Books</a></li>
									<li><a id="filter-books" onclick="update_search_filter(this);">&nbsp;-&nbsp;Books</a></li>
									<li><a id="filter-ebooks" onclick="update_search_filter(this);">&nbsp;-&nbsp;eBooks</a></li>
									<li><a id="filter-audiobooks" onclick="update_search_filter(this);">&nbsp;-&nbsp;Audiobooks</a></li>
									<li class="divider"></li>
									<li><a id="filter-all-movies" onclick="update_search_filter(this);">All Movies</a></li>
									<li><a id="filter-dvds" onclick="update_search_filter(this);">&nbsp;-&nbsp;DVDs</a></li>
									<li><a id="filter-blurays" onclick="update_search_filter(this);">&nbsp;-&nbsp;Blu-rays</a></li>
								</ul>
							</div>
							<input type="text" class="search-query span4" placeholder="Search for books by title, author, or ISBN" id="nav_search_input" name="query" />
							<input type="hidden" id="filter-item-type" name="item_type" value="book">
							<input type="hidden" id="filter-subtype-book">
							<input type="hidden" id="filter-subtype-ebook">
							<input type="hidden" id="filter-subtype-audiobook">
							<input type="hidden" id="filter-subtype-dvd">
							<input type="hidden" id="filter-subtype-bluray">
							<input type="button" value="" onclick="initateSearch()"/>
							</span>
						</form>
					{% endif %}
					<div class="nav-collapse collapse">
						<ul class="nav">
							{% if user.is_authenticated() %}
							<li><a href="{{ url_for('library') }}">Library</a></li>
							<li><a href="{{ url_for('network') }}">Network</a></li>
							<li><a href="{{ url_for('discover') }}">Discover</a></li>
							{% else %}
							<li><a href="{{ url_for('about') }}">About</a></li>
							<li><a href="{{ url_for('login') }}">Login</a></li>
							<li><a href="{{ url_for('join') }}">Join</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container content">
			
			{% block content %}
			{% endblock %}
			
			<br>
			<br>
		</div>
	</div>
	<div class="container">
		<footer id="footer">
			<p class="pull-right"><a href="/reportbug">Report a Bug</a></p>
			<div class="links">
				<a href="{{ url_for('mobile_app') }}">Mobile App</a>
				<a href="http://github.com/natecarrier/sharingcommons">GitHub Project Page</a>
				<!--<a href="{{""" url_for('terms_of_use') """}}">Terms of Use</a>-->
			</div>
		</footer>
	</div>

	<script src="http://code.jquery.com/jquery.js"></script>

	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>
	{% block script %}{% endblock %}

</body>

</html>

