{% extends "maintemplate.html" %}

{% block title %}Library{% endblock %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.10.2.custom.min.css') }}" />

<style type="text/css">
	a.alert-link {
		color: #dd5600;
		cursor: pointer;
	}
	
	a.alert-link:hover {
		color: #dd5600;
	}
</style>

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>

<script type="text/javascript">
	var lastRemoveLink;
	var lastRemoveItemKey;
	var lastRemoveItemType;

	function remove_item(item_subtype, item_key, itemTitle, button){
		$(button).attr("disabled", "disabled");
		$.ajax({
			url:"/library/" + item_subtype + "/" + item_key,
			type: 'DELETE',
			success: function(data) {
				$(button).parent().parent().hide();
				$("#undoMessage").show();
				$("#undoMessageItem").text(itemTitle);
				lastRemoveLink = button;
				lastRemoveItemKey = item_key;
				lastRemoveItemType = item_subtype;
				$(button).removeAttr("disabled");
			},
			error: function() {
				$(button).removeAttr("disabled");
			}
		});
		return false;
	}
	
	function hide_undo_message() {
		$("#undoMessage").hide();
		return false;
	}
	
	function undo_remove() {
		$.post("/library/" + lastRemoveItemType + "/" + lastRemoveItemKey, function(data) {
			$(lastRemoveLink).parent().parent().show();
			$("#undoMessage").hide();
		})
		return false;
	}
	
	function requestCheckIn(itemCopyID, button) {
	// Request to check in item user is borrowing
		$.ajax({
			url: "/return_item/" + itemCopyID,
			type: 'GET',
			success: function(data) {
				$(button).attr("disabled", "");
				$(button).attr("onclick", "");
				$(button).html("Pending Confirmation");
			}
		});
		
		return false;
	}
	
	function checkIn(itemCopyID, button) {
	// Check in item user is lending
		$.ajax({
			url: "/return_item/" + itemCopyID,
			type: 'GET',
			success: function(data) {
				$(button).parent().parent().hide();
				if($("#items_lending tr:visible").length == 1) {
					$("#items_lending").html("<tr><td colspan='3'>You aren't currently lending any items. When you are, they'll show up here.");
				}
			}
		});
		
		return false;
	}
	
	function add_hash(url_hash){
		window.location.hash = url_hash;
	}

	$(function(){
		if(window.location.hash){
			if(window.location.hash == "#LendedItems") $("#lended_items").click();
			else if (window.location.hash == "#BorrowedItems") $("#borrowed_items").click();
		}
	})
	
	$(function() {
		$(".tooltip-button").tooltip({trigger: "hover"});
	});
	
	// Not sure why this doesn't work--haven't tried to figure it out yet.
	$(function() {
		$("#MyItemsTable").tablesorter({ sortList: [[1,0]] });
	});
	
</script>

{% endblock %}

{% block content %}

<br>

<div class="row">
	
</div>

<div class="row" style="position: relative">
	<div class="span6 offset3" style="position: absolute; top: 50px;">
		<div id="undoMessage" class="alert" style="display: none;">
			<a class="close" onclick="hide_undo_message()">&times;</a>
			<span id="undoMessageItem"></span> was removed from your library.&nbsp;&nbsp;
			<strong><a onclick="undo_remove()" class="alert-link">Undo</a></strong>
		</div>
	</div>
  <div class="span12">
	
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#MyItems" data-toggle="tab" id="my_items" onclick='add_hash("MyItems")'>My Library</a></li>
        <li><a href="#LendedItems" data-toggle="tab" id="lended_items" onclick='add_hash("LendedItems")'>Lended Items</a></li>
        <li><a href="#BorrowedItems" data-toggle="tab" id="borrowed_items" onclick='add_hash("BorrowedItems")'>Borrowed Items</a></li>
      </ul>
    </div>
      <div class="tab-content">
        <div class="tab-pane active" id="MyItems">
          <h3 style="margin-top:-4px">Books & Movies I Own</h3>
          <table class="table table-striped table-bordered" id="MyItemsTable">
            {% if itemlist|length < 1 %}
              <tr>
                <td colspan="4">You don't have any items in your library. To add items, use the search field inside the header. Once you've added items, they'll show up here.</td>
            {% else %}
				<tr>
				  <th class="header" style="width:26px;text-align:center"></th>
				  <th class="header">Title</th>
				  <th class="header">Lend Status</th>
				  <th class="header" style="width:100px"></th>
				</tr>
				{% for item in itemlist %}
				  <tr>
				    <td><i class="icon-{% if item.item_subtype == 'book' %}book{% elif item.item_subtype == 'ebook' %}tablet{% elif item.item_subtype == 'audiobook' %}volume-down{% elif item.item_subtype == 'dvd' or item.item_subtype == 'bluray' %}facetime-video{% endif %} icon-large"{% if item.item_subtype == "bluray" %} style="color:blue"{% endif %} title="{% if item.item_subtype == 'book' %}Book{% elif item.item_subtype == 'ebook' %}eBook{% elif item.item_subtype == 'audiobook' %}Audiobook{% elif item.item_subtype == 'dvd' %}DVD{% elif item.item_subtype == 'bluray' %}Blu-ray{% endif %}"></i></td>
					<td><a href="/{% if item.item_type=='book'%}book{% elif item.item_type=='movie' %}movie{% endif %}/{{ item.item_key }}" 
							class="item-title tooltip-button" 
							data-toggle="tooltip" data-placement="right" 
							title="View {% if item.item_type == 'book' %}book{% elif item.item_type == 'movie' %}movie{% endif %} details or manually check out item">{{item.title}}{% if item.item_type == 'book' %} ({{ item.author }}){% endif %}</a></td>
					<td>{% if item.available %}Available
						{% else %}On Loan{% endif %}</td>
					<td style="text-align:center"><a class="btn btn-small" onclick="remove_item('{{ item.item_subtype }}', '{{item.item_key}}', '{{ item.escapedtitle }}', this)"><i class="icon-remove"></i>&nbsp;&nbsp;Remove</a></td>
				  </tr>
				{% endfor %}
			{% endif %}
          </table>
        </div>
        <div class="tab-pane" id="LendedItems">

		<h3 style="margin-top:-4px">Books & Movies I'm Lending</h3>
		<table class="table table-striped table-bordered" id="items_lending">
			{% if user.get_lent_items()|length < 1 %}
			<tr>
				<td colspan="4">You aren't currently lending any items. When you are, they'll show up here.</td>
			</tr>
			{% else %}
				<tr>
				  <th>Title</th>
				  <th>Borrower</th>
				  <th style="text-align:center;width:200px">Due Date</th>
				  <th style="text-align:center;width:200px"></th>
				</tr>
				{% for item in user.get_lent_items() %}
				<tr>
				  <td>{{ item.display() }}</td>
				  <td>{% if not item.manual_borrower_name %}{{ item.get_borrower() }}{% else %}{{ item.manual_borrower_name }}{% endif %}</td>
				  <td style="text-align:center;">{{ item.due_date.strftime('%m/%d/%Y') }}</td>
				  <td style="text-align:center;">
				    <a class="btn btn-inverse tooltip-button" 
									style="width:140px" 
									onclick="checkIn('{{ item.key.id() }}', this)"
									data-toggle="tooltip" data-placement="right"
									title="Report item as checked in.">Check In</a>
				  </td>
				</tr>
				{% endfor %}
			{% endif %}
		</table>

        </div>
        <div class="tab-pane" id="BorrowedItems">
          <h3 style="margin-top:-4px">Books & Movies I'm Borrowing</h3>
          <table class="table table-striped table-bordered" id="items_borrowing">
            {% if user.get_borrowed_items()|length < 1 %}
              <tr>
                <td colspan="4">You aren't currently borrowing any items. To borrow an item, search for the item in the search bar in the header. When you're borrowing items, they'll show up here.</td>
			  </tr>
			{% else %}
				<tr>
				  <th>Title</th>
				  <th>Owner</th>
				  <th style="text-align:center;width:200px">Due Date</th>
				  <th style="text-align:center;width:200px"></th>
				</tr>
				{% for item in user.get_borrowed_items() %}
				<tr>
				  <td>{{ item.display() }}</td>
				  <td>{{ item.get_owner() }}</td>
				  <td style="text-align:center">{{ item.due_date.strftime('%m/%d/%Y') }}</td>
				  <td style="text-align:center">
					<a class="btn btn-inverse tooltip-button" 
									style="width:140px" 
									onclick="requestCheckIn('{{ item.key.id() }}', this)"
									data-toggle="tooltip" data-placement="right"
									title="Report item as checked in. Requires lender verification.">Check In</a>
				  </td>
				</tr>
				{% endfor %}
			{% endif %}
          </table>

        </div>
      </div>
    </div>
</div>

{% endblock %}
