
{% extends "maintemplate.html" %}

{% block title %}{{ profile_user.name }}'s Profile{% endblock %}

{% block style %}

<style type="text/css">
	.in-library-button	{
		margin-bottom: 10px;
	}
	
	.infoLabel {
		padding-right: 10px;
		padding-bottom: 16px;
		font-weight: bolder;
		width: 100px;
	}
	
	.infoText {
		padding-bottom: 16px;
	}
</style>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.raty.js') }}"></script>

<script type="text/javascript">
	$(function() {
		$(".tooltip-button").tooltip({trigger: "hover"});
	});
	
	function create_email_request(itemCopyID, lenderID, escapedTitle, lenderName) {
		// Build new modal for sending a request email
		var lenderEmail
		$.ajax({
			url: "/get_user_email/" + lenderID,
			type: 'GET',
			success: function(data) {
				$("#emailModalBody").html('<div class="control-group"><label class="control-label span1" for="lenderEmail">To: </label><div class="controls"><input type="text" class="input-xlarge disabled tooltip-button" data-toggle="tooltip" data-placement="right" title="This user\'s email is not shown, but will be present in the user\'s reply" id="lenderEmail" value="' + data.email + '" disabled></div><div class="controls"><label class="control-label span1" for="senderEmail">From: </label><input class="input-xlarge disabled" id="senderEmail" type="text" value="{{ user.email }}" disabled></div><label class="control-label span1" for="emailBody">Message: </label><div class="controls"><textarea class="input-xlarge" id="emailBody" rows="10">' + lenderName + ',&#13;&#10;&#13;&#10;I\'m interested in borrowing your copy of "' + unescape(escapedTitle) + '". Is it available?&#13;&#10;&#13;&#10;Thanks!&#13;&#10;{{ user.name }}</textarea></div></div>');
				$(".tooltip-button").tooltip({trigger: "hover"});
				$("#emailModalFooter").html('<button class="btn btn-inverse" id="sendRequestButton" aria-hidden="true" onClick="send_request(\'' + itemCopyID + '\', \'' + lenderID + '\', \'' + escapedTitle + '\', \'' + lenderName +'\');">Send Request</button><button class="btn" data-dismiss="modal" onClick="reset_borrow_modal(true);" aria-hidden="true">Cancel</button>');
				$("#emailModal").modal('show');
			}
		});
	}
	
	function send_request(itemCopyID, lenderID, escapedTitle, lenderName) {
		$("#sendRequestButton").attr("disabled","disabled");
		var emailBodyText = $("#emailBody").text();
		$.ajax({
			url: "/request_to_borrow/" + lenderID + "/" + itemCopyID,
			type: 'POST',
			contentType: 'application/json; charset=utf-8',
			data: emailBodyText,
			dataType: 'text',
			success: function(json) {
				$("#emailModal").modal('hide');
				$("#messageItem").text("'" + unescape(escapedTitle) + "'");
				$("#messageUser").text(lenderName);
				$("#message").show();
			},
			error: function(json) {
			}
		});
	}
	
	function hide_message() {
		$("#message").hide();
		return false;
	}
	
	function request_to_connect() {
		// Show modal
		$("#connectModal").modal('show');
	}
	
	function sendRequest() {
	// Send connection request to user in invitation link
		$.ajax({
			url:"/manage_network/" + {{ profile_user.get_id() }},
			type: 'POST',
			success:function(data) {
				$("#requestSent").show();
			}
		});
		return false;
	}
	
	function hide_requestSent() {
		$("#requestSent").modal('hide');
		return false;
	}
	
	// Star Ratings
	$(".star-rating").raty({
		half: true,
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
	});
	
</script>

{% endblock %}

{% block content %}

{% if not inNetwork %}
	<div id="connectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="connectModalLabel">Send Request to Connect</h3>
		</div>
		<div class="modal-body">
			<p>Please confirm your intention to send a connection request to {{ profile_user.name }}. Once {{ profile_user.name }} accepts your request, {{ profile_user.name }}'s library will appear in your network and within applicable search results.</p>
		</div>
		<div class="modal-footer">
			<a class="btn btn-inverse" id="connectModalSend" onclick="sendRequest()" data-dismiss="modal">Send Request</a>
			<a class="btn" id="connectModalCancel" data-dismiss="modal">Cancel</a>
		</div>
	</div>
	<div class="span6 offset3" style="position: absolute; top: 60px;">
		<div id="requestSent" class="alert" style="display: none;">
			<a class="close" onclick="hide_requestSent()">&times;</a>
			You have requested to connect with {{ profile_user.name }}. Once {{ profile_user.name }} accepts your request, {{ profile_user.name }}'s library will appear in your network and within applicable search results.
		</div>
	</div>
{% endif %}

<div class="row">
	<div class="span2">
		<br>
		<div class="well">
			<img src="{{ gravatar_url }}" style="text-align:center"/>
			{% if profile_user.get_id() == user.get_id() %}Image from <a href="http://gravatar.com/">Gravatar</a>{% endif %}
		</div>
	</div>
	<div class="span6">
		<h3>User Profile</h3>
		<table class="infoTable">
			<tr>
				<td class="infoLabel">Display Name:</td>
				<td class="infoText">{{ profile_user.name }}</td>
			</tr>
			<tr>
				<td class="infoLabel">Public Info:</td>
				<td class="infoText">{{ profile_user.public_info }}</td>
			</tr>
			{% if inNetwork %}
				<tr>
					<td class="infoLabel">Private Info:</td>
					<td class="infoText">{{ profile_user.info }}</td>
				</tr>
			{% endif %}
		</table>
	</div>
	{% if not inNetwork %}
		<div class="span2 offset2">
			<br>
			<a class="btn btn-inverse {% if not user.is_authenticated() %}disabled tooltip-button{% endif %}"
			{% if not user.is_authenticated() %}data-toggle="tooltip" 
			data-placement="bottom"
			title="Join or login to connect with {{ profile_user.name }}"{% endif %}
			style="width:126px"
			{% if user.is_authenticated() %}onClick="request_to_connect();"{% endif %}>Request to Connect</a>
		</div>
	{% endif %}
</div>
{% if inNetwork or profile_user.book_privacy == 1 %}
	<br/>
	<div class="row">
		<div class="span12">
			<h4>{{ profile_user.name }}'s Books</h4>
			<table class="table table-bordered table-striped">
				<tr>
					<th style="width:26px;text-align:center"></th>
					<th>Title</th>
					<th>Author</th>
					<th style="width:120px;">User Review</th>
					{% if inNetwork %}<th style="width:{% if profile_user.get_id() == user.get_id() %}120px{% else %}160px{% endif %};text-align:center">{% if profile_user.get_id() == user.get_id() %}Lend Status{% endif %}</th>{% endif %}
				</tr>
				{% if booklist|length < 1 %}
				<tr>
					{% if profile_user.get_id() == user.get_id() %}
					<td colspan='5'>You don't have any books in your library. To add books, use the search field inside the header. Once you've added books, they'll show up here.</td>
					{% else %}
					<td colspan='5'>{{ profile_user.name }} has not added any books yet.</td>
					{% endif %}
				</tr>
				{% endif %}
				{% for item in booklist %}
					<tr>
						<td><i class="icon-{% if item.item_subtype == 'book' %}book{% elif item.item_subtype == 'ebook' %}tablet{% elif item.item_subtype == 'audiobook' %}volume-down{% endif %} icon-large" title="{% if item.item_subtype == 'book' %}Book{% elif item.item_subtype == 'ebook' %}eBook{% elif item.item_subtype == 'audiobook' %}Audiobook{% endif %}"></i></td>
						<td><a href="/book/{{ item.item_key }}" 
							class="item-title tooltip-button" 
							data-toggle="tooltip" data-placement="right" 
							title="View book details">{{item.title}}</a></td>
						<td>{{ item.author }}</td>
						<td><div class="star-rating" data-score="{{ item.star_rating }}"></td>
						{% if inNetwork %}
							<td style="text-align:center">
							{% if profile_user.get_id() == user.get_id() %}
								{% if item.available %}Available
								{% else %}On Loan
								{% endif %}
							{% else %}
								{% if item.available %}
								<a class="btn btn-inverse tooltip-button"
									style="width:120px"
									onclick="create_email_request('{{ item.copyID }}', '{{ profile_user.get_id() }}', '{{ item.escapedtitle }}', '{{ profile_user.name }}')"
									data-toggle="tooltip" 
									data-placement="right"
									title="Request to borrow item from {{ profile_user.name }}">
									Request&nbsp;to&nbsp;Borrow</a>
								{% else %}
								<a class="btn btn-inverse tooltip-button disabled"
									style="width:120px"
									data-toggled="tooltip"
									data-placement="right"
									title="Item not available">
									Unavailable</a>
								{% endif %}
							{% endif %}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endif %}
{% if inNetwork or profile_user.movie_privacy == 1 %}
<br/>
	<div class="row">
		<div class="span12">
			<h4>{{ profile_user.name }}'s Movies</h4>
			<table class="table table-bordered table-striped">
				<tr>
					<th style="width:26px;text-align:center"></th>
					<th>Title</th>
					<th>Year</th>
					<th style="350px">Genre</th>
					<th>Rating</th>
					<th style="width:120px;">User Review</th>
					{% if inNetwork %}<th style="width:{% if profile_user.get_id() == user.get_id() %}120px{% else %}160px{% endif %};text-align:center">{% if profile_user.get_id() == user.get_id() %}Lend Status{% endif %}</th>{% endif %}
				</tr>
				{% if movielist|length < 1 %}
				<tr>
					{% if profile_user.get_id() == user.get_id() %}
					<td colspan='7'>You don't have any movies in your library. To add movies, use the search field inside the header. Once you've added movies, they'll show up here.</td>
					{% else %}
					<td colspan='7'>{{ profile_user.name }} has not added any movies yet.</td>
					{% endif %}
				</tr>
				{% endif %}
				{% for item in movielist %}
					<tr>
						<td><i class="icon-facetime-video icon-large" {% if item.item_subtype == 'bluray' %}style="color:blue"{% endif %} title="{% if item.item_subtype == 'dvd' %}DVD{% elif item.item_subtype == 'bluray' %}Blu-ray{% endif %}"></i></td>
						<td><a href="/movie/{{ item.item_key }}" 
							class="item-title tooltip-button" 
							data-toggle="tooltip" data-placement="right" 
							title="View movie details">{{item.title}}</a></td>
						<td>{% if item.year != 9999 %}{{ item.year }}{% endif %}</td>
						<td>{{ item.genre }}</td>
						<td>{{ item.rating }}</td>
						<td><div class="star-rating" data-score="{{ item.star_rating }}"></div></td>
						{% if inNetwork %}
							<td style="text-align:center">
							{% if profile_user.get_id() == user.get_id() %}
								{% if item.available %}Available
								{% else %}On Loan
								{% endif %}
							{% else %}
								{% if item.available %}
								<a class="btn btn-inverse tooltip-button"
									style="width:120px"
									onclick="create_email_request('{{ item.copyID }}', '{{ profile_user.get_id() }}', '{{ item.escapedtitle }}', '{{ profile_user.name }}')"
									data-toggle="tooltip" 
									data-placement="right"
									title="Request to borrow item from {{ profile_user.name }}">
									Request&nbsp;to&nbsp;Borrow</a>
								{% else %}
								<a class="btn btn-inverse tooltip-button disabled"
									style="width:120px"
									data-toggled="tooltip"
									data-placement="right"
									title="Item not available">
									Unavailable</a>
								{% endif %}
							{% endif %}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endif %}

<!-- Modals and alerts -->
<div class="row">
	<div class="span12">
		<div id="emailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="emailModalLabel">Request to Borrow Item</h3>
			</div>
			<div class="modal-body" id="emailModalBody">
			</div>
			<div class="modal-footer" id="emailModalFooter">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			</div>
		</div>
		<div class="span6 offset3" style="position: absolute; top: 60px;">
			<div id="message" class="alert" style="display: none;">
				<a class="close" onclick="hide_message()">&times;</a>
				You have requested to borrow <span id="messageItem"></span> from <span id="messageUser"></span>.
			</div>
		</div>		
	</div>
</div>

{% endblock %}
