{% extends "maintemplate.html" %}

{% block title %}Search{% endblock %}

{% block style %}

<style type="text/css">
	.library-btn-group {
		margin-bottom: 10px;
		width: 120px;
	}
	
	.library-button {
		width: 95px;
	}
	
	.notInNetwork {
		display: none;
	}
	
	.item-title {
		font-size:125%;
		font-weight: bolder;
	}
</style>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>

<script type="text/javascript">
	
	$(function() {
		$(".tooltip-button").tooltip({trigger: "hover"});
		
		switch("{{attribute}}"){
			case "all":
				$("#searchAll").attr("checked", "true");	
				break;
			case "title":
				$("#searchTitle").attr("checked", "true");
				break;
			case "author":
				$("#searchauthor").attr("checked", "true");
				break;
			case "isbn":
				$("#searchISBN").attr("checked", "true");
				break;
			default:
				$("#searchAll").attr("checked", "true");
		}
		
		// Display appropriate rows on load
		if ("{{subtype_specified}}"=="true") {
			// User specifically requested at least one subtype, so forget their cookie setting and show in-network only and the appropriate subtypes
			$.removeCookie("{{ user.get_id() }}");
			$("#show_out_of_network_items_checkbox").removeAttr("checked");
			$("tr.notInNetwork").hide();
			toggle_checkboxes();
			display_subtype("{{ subtype_book }}", "{{ subtype_ebook }}", "{{ subtype_audiobook }}", "{{ subtype_dvd }}", "{{ subtype_bluray }}", true);
		} else {
			// User did not specify subtype, so show out-of-network based on cookie
			if ($.cookie("{{ user.get_id() }}")) {
				// Show in network only, including all subtypes (since they weren't specified, otherwise the above code would have been run)
				$("#show_out_of_network_items_checkbox").removeAttr("checked");
				$("tr.notInNetwork").hide();
				toggle_checkboxes();
				// Show all subtypes of specified item_tpye and check their respective checkboxes
				if ("{{ include_type }}"=="book") {
					display_subtype(true, true, true, false, false, false);
					$("#checkbox-books").prop('checked',true);
					$("#checkbox-ebooks").prop('checked',true);
					$("#checkbox-audiobooks").prop('checked',true);
				} else if("{{ include_type }}"=="movie") {
					display_subtype(false, false, false, true, true, false);
					$("#checkbox-dvds").prop('checked',true);
					$("#checkbox-blurays").prop('checked',true);
				}
			}
			else {
				// Show out of network, including all subtypes
				$("tr.notInNetwork").show();
				// no code necessary to show out-of-network on load, they'll already show up
				// Hide subtype checkboxes, since they won't do anything when showing out-of-network
				$("#filter-item-subtype").hide();
				toggle_checkboxes();
			}
		}
		
		// Display Flixster attribution if loads to movies
		if ("{{ include_type }}"=="movie") {
			$("#flixster-attribution").html("<br><br><p>Movie data provided by Flixster</p>");
		}
		
		$("#show_out_of_network_items_checkbox").change(function(){
			if($.cookie("{{ user.get_id() }}")) {
				$.removeCookie("{{ user.get_id() }}");
			}
			
			if(!$(this).is(":checked")) {
				$.cookie("{{ user.get_id() }}", "true", { expires: 365 });
				// User wants in-network only, hide out-of-network and display subtypes according to what's specified
				// If no subtypes are checked, check them all
				var subtype_checked = false
				if("{{ include_type }}"=="book") {
					if($("#checkbox-books").is(':checked')) {
						subtype_checked = true
					} else if($("#checkbox-ebooks").is(':checked')) {
						subtype_checked = true
					} else if($("#checkbox-audiobooks").is(':checked')) {
						subtype_checked = true
					} if(!subtype_checked) {
						$("#checkbox-books").prop('checked',true);
						$("#checkbox-ebooks").prop('checked',true);
						$("#checkbox-audiobooks").prop('checked',true);
					}
				} else if("{{ include_type }}"=="movie") {
					if($("#checkbox-dvds").is(':checked')) {
						subtype_checked = true
					} else if($("#checkbox-blurays").is(':checked')) {
						subtype_checked = true
					} if(!subtype_checked) {
						$("#checkbox-dvds").prop('checked',true);
						$("#checkbox-blurays").prop('checked',true);
					}
				}
				$("tr.notInNetwork").hide();
				if($("#checkbox-books").is(':checked')) {
					$("tr.row-book").show();
				} else {
					$("tr.row-book").hide();
				}
				if($("#checkbox-ebooks").is(':checked')) {
					$("tr.row-ebook").show();
				} else {
					$("tr.row-ebook").hide();
				}
				if($("#checkbox-audiobooks").is(':checked')) {
					$("tr.row-audiobook").show();
				} else {
					$("tr.row-audiobook").hide();
				}
				if($("#checkbox-dvds").is(':checked')) {
					$("tr.row-dvds").show();
				} else {
					$("tr.row-dvd").hide();
				}
				if($("#checkbox-blurays").is(':checked')) {
					$("tr.row-bluray").show();
				} else {
					$("tr.row-bluray").hide();
				}
				// Show subtype filters, since they'll work now
				$("#filter-item-subtype").show();
				toggle_checkboxes();
				msg_if_no_results();
			}
			else {
				// User wants out-of-network, show out-of-network and all subtypes and hide subtype filters
				$("tr.notInNetwork").show();
				if($("#radio-books").is(':checked')) {
					$("tr.row-book").show();
					$("tr.row-ebook").show();
					$("tr.row-audiobook").show();
				} else if($("#radio-movies").is(':checked')) {
					$("tr.row-dvd").show();
					$("tr.row-bluray").show();
				}
				$("#filter-item-subtype").hide();
				msg_if_no_results();
			}
			
		});
		
		$("input[name='refineSearch']").change(function(){
			$(this).closest("form").submit();
		});
		
		$("input[name='item_type']").change(function(){
			// Remove name and attribute for all of the checkboxes so it's submitted without them
			// This is necessary so that the out-of-network setting isn't overwritten thinking the 
			// user is trying to find only specific subtypes
			$("#checkbox-books").removeAttr('name')
			$("#checkbox-books").removeAttr('value')
			$("#checkbox-ebooks").removeAttr('name')
			$("#checkbox-ebooks").removeAttr('value')
			$("#checkbox-audiobooks").removeAttr('name')
			$("#checkbox-audiobooks").removeAttr('value')
			$("#checkbox-dvds").removeAttr('name')
			$("#checkbox-dvds").removeAttr('value')
			$("#checkbox-blurays").removeAttr('name')
			$("#checkbox-blurays").removeAttr('value')
			$(this).closest("form").submit();
			// When a user hits back they end up with the old results, but the new item_type selection.
			// Perhaps it can be reverted after submitting the form (not sure if it would work)
			// Here's a link on how to get the old value: http://stackoverflow.com/a/1159245
		});
	});
	
	function add_item(item_subtype, item_key, item_index){
		//disable button and caret and destroy tooltip
		$("#add_button" + item_index).attr("disabled", "disabled");
		$("#caret_button" + item_index).attr("disabled", "disabled");
		$("#add_btn_group" + item_index).tooltip("destroy")
		$.post("/library/" + item_subtype + "/" + item_key, function(data) {
			//update text to In Library and update link to library
			//the link doesn't work as a href because it's a button, not an "a"
			$("#add_button" + item_index).text("In Library");
			$("#add_button" + item_index).removeAttr("onclick");
			$("#add_button" + item_index).attr("href", "\library");
			//update color to primary
			$("#add_button" + item_index).removeClass("btn-inverse").addClass("btn-primary");
			$("#caret_button" + item_index).removeClass("btn-inverse").addClass("btn-primary");
			//update tooltip
			$("#add_btn_group" + item_index).attr("title", "Item is already in your library. Click to view library.").tooltip({trigger: "hover"});
			//remove entry of item type clicked
			$("#add_" + item_subtype + item_index).hide();
			//enable button and caret
			$("#add_button" + item_index).removeAttr("disabled");
			$("#caret_button" + item_index).removeAttr("disabled");
		}).error(function() {
			$("#add_button" + item_index).removeAttr("disabled");
		});
		
		return false;
	}
	
	function request_item(item_key, title, button){
		$(button).attr("disabled", "disabled");
		$.getJSON("/search/in_network/" + item_key, function(data) {
			$(button).removeAttr("disabled");
			$('#borrowTable').empty();
			$.each(data, function(key, val) {
				
				var link = $('<a>', {
					'class': 'btn btn-inverse',
					onclick: 'create_email_request("' + val.itemCopyID + '", "' + key + '", "' + escape(title) + '", "' + val.username + '")',
					html: 'Request to Borrow'
				});
				if(!val.available) {
					link.attr("disabled", "");
				}
				
				$('#borrowTable')
				.append(
					$('<tr>')
					.append(
						$('<td>', {
							html: val.username
						}))
					.append(
						$('<td>')
						.append(
							link
						)
					)
				);
			});
			$("#borrowModal").modal('show');
		}).error(function() {
			$(button).removeAttr("disabled");
		});
		
		return false;
	}
	
	function create_email_request(itemCopyID, lenderID, escapedTitle, lenderName) {
		// Build new modal for sending a request email
		var lenderEmail
		$.ajax({
			url: "/get_user_email/" + lenderID,
			type: 'GET',
			success: function(data) {
				$("#borrowModalLabel").text("Request to Borrow Item");
				$("#borrowModalBody").html('<div class="control-group"><label class="control-label span1" for="lenderEmail">To: </label><div class="controls"><input type="text" class="input-xlarge disabled tooltip-button" data-toggle="tooltip" data-placement="right" title="This user\'s email is not shown, but will be present in the user\'s reply" id="lenderEmail" value="' + data.email + '" disabled></div><div class="controls"><label class="control-label span1" for="senderEmail">From: </label><input class="input-xlarge disabled" id="senderEmail" type="text" value="{{ user.email }}" disabled></div><label class="control-label span1" for="emailBody">Message: </label><div class="controls"><textarea class="input-xlarge" id="emailBody" rows="10">' + lenderName + ',&#13;&#10;&#13;&#10;I\'m interested in borrowing your copy of "' + unescape(escapedTitle) + '". Is it available?&#13;&#10;&#13;&#10;Thanks!&#13;&#10;{{ user.name }}</textarea></div></div>');
				$(".tooltip-button").tooltip({trigger: "hover"});
				$("#borrowModalFooter").html('<button class="btn btn-inverse" id="sendRequestButton" aria-hidden="true" onClick="send_request(\'' + itemCopyID + '\', \'' + lenderID + '\', \'' + escapedTitle + '\', \'' + lenderName +'\');">Send Request</button><button class="btn" data-dismiss="modal" onClick="reset_borrow_modal(true);" aria-hidden="true">Cancel</button>');
			}
		});
	}
	
	function send_request(itemCopyID, lenderID, escapedTitle, lenderName) {
		$("#sendRequestButton").attr("disabled","disabled");
		var emailBodyText = $("#emailBody").text();
		//var jsonObj = {"emailBody":emailBodyText};
		$.ajax({
			url: "/request_to_borrow/" + lenderID + "/" + itemCopyID,
			type: 'POST',
			contentType: 'application/json; charset=utf-8',
			data: emailBodyText,
			dataType: 'text',
			success: function(json) {
				// Reset modal
				reset_borrow_modal(true);
				$("#borrowModal").modal('hide');
				$("#messageItem").text("'" + unescape(escapedTitle) + "'");
				$("#messageUser").text(lenderName);
				$("#message").show();
			},
			error: function(json) {
			}
		});
	}
	
	function reset_borrow_modal(close) {
		// Reset modal
		if(close) {
			$("#borrowModal").modal('hide');
		}
		$("#borrowModalLabel").text("Users Who Have This Item");
		$("#borrowModalBody").html('<table id="borrowTable" class="table"></table>');
		$("#borrowModalFooter").html('<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>');
	}
	
	function hide_message() {
		$("#message").hide();
		return false;
	}
	
	function display_subtype(subtype_book, subtype_ebook, subtype_audiobook, subtype_dvd, subtype_bluray, hidefirst) {
		if(hidefirst) {
			// hide all, then show necessary
			$("tr.row-book").hide();
			$("tr.row-ebook").hide();
			$("tr.row-audiobook").hide();
			$("tr.row-dvd").hide();
			$("tr.row-bluray").hide();
		} if(subtype_book=="true") {
			$("tr.row-book").show();
		} else if(subtype_ebook=="true") {
			$("tr.row-ebook").show();
		} else if(subtype_audiobook=="true") {
			$("tr.row-audiobook").show();
		} else if(subtype_dvd=="true") {
			$("tr.row-dvd").show();
		} else if(subtype_bluray=="true") {
			$("tr.row-bluray").show();
		}
		msg_if_no_results();
	}
	
	// React to checking and unchecking "Include" checkboxes, but only if out-of-network is unchecked
	$(function() {
		$("input[name='subtype_book']").change(function(){
			if($("#show_out_of_network_items_checkbox").is(':checked')==false) {
				if($("#checkbox-books").is(':checked')) {
					$("#checkbox-books").attr("value", "true")
					$("tr.row-book").show();
				} else {
					$("#checkbox-books").attr("value", "false")
					$("tr.row-book").hide();
					msg_if_no_results();
				}
			}
		});
		$("input[name='subtype_ebook']").change(function(){
			if($("#show_out_of_network_items_checkbox").is(':checked')==false) {
				if($("#checkbox-ebooks").is(':checked')) {
					$("#checkbox-ebooks").attr("value", "true")
					$("tr.row-ebook").show();
				} else {
					$("#checkbox-ebooks").attr("value", "false")
					$("tr.row-ebook").hide();
					msg_if_no_results();
				}
			}
		});
		$("input[name='subtype_audiobook']").change(function(){
			if($("#show_out_of_network_items_checkbox").is(':checked')==false) {
				if($("#checkbox-audiobooks").is(':checked')) {
					$("#checkbox-audiobooks").attr("value", "true")
					$("tr.row-audiobook").show();
				} else {
					$("#checkbox-audiobooks").attr("value", "false")
					$("tr.row-audiobook").hide();
					msg_if_no_results();
				}
			}
		});
		$("input[name='subtype_dvd']").change(function(){
			if($("#show_out_of_network_items_checkbox").is(':checked')==false) {
				if($("#checkbox-dvds").is(':checked')) {
					$("#checkbox-dvds").attr("value", "true")
					$("tr.row-dvd").show();
				} else {
					$("#checkbox-dvds").attr("value", "false")
					$("tr.row-dvd").hide();
					msg_if_no_results();
				}
			}
		});
		$("input[name='subtype_bluray']").change(function(){
			if($("#show_out_of_network_items_checkbox").is(':checked')==false) {
				if($("#checkbox-blurays").is(':checked')) {
					$("#checkbox-blurays").attr("value", "true")
					$("tr.row-bluray").show();
				} else {
					$("#checkbox-blurays").attr("value", "false")
					$("tr.row-bluray").hide();
					msg_if_no_results();
				}
			}
		});
	});
	
	// Hide inappropriate checkboxes
	function toggle_checkboxes() {
		if ($("#radio-books").is(':checked')) {
			$("#label-checkbox-books").show();
			$("#label-checkbox-ebooks").show();
			$("#label-checkbox-audiobooks").show();
			$("#label-checkbox-dvds").hide();
			$("#label-checkbox-blurays").hide();
			$("#refine-book-search").show();
		} else if ($("#radio-movies").is(':checked')) {
			$("#label-checkbox-books").hide();
			$("#label-checkbox-ebooks").hide();
			$("#label-checkbox-audiobooks").hide();
			$("#label-checkbox-dvds").show();
			$("#label-checkbox-blurays").show();
			$("#refine-book-search").hide();
		}
	}
	
	// Display message if the results are empty
	msg_if_no_results(true);
	function msg_if_no_results(initial_load) {
		// Show message when the query returns no results
		if ($('#results-table tr').length == 0) {
			$("#no-results-msg").html("<h4>Your search did not return any results.</h4><p>Try rephrasing your search expression.</p>");
		} else {
		
			if(initial_load) {
				$("#no-results-msg").html("");
			} else {
				// Loop through tr's and check if visible
				var visibleCount = 0
				$('tr.content-row').each(function() {
					if($(this).is(":visible")) {
						visibleCount = visibleCount + 1;
					}
				});
				
				if (visibleCount == 0) {
					$("#no-results-msg").html("<h4>Your current filters yield no results.</h4>");
					if($("#show_out_of_network_items_checkbox").is(':checked') == false) {
						$("#no-results-msg").html($("#no-results-msg").html() + '<p>If you are looking for an item so you can add it to your library, try unchecking the box "Show out-of-network items." You\'re currently viewing only the items found within your network.</p>');
					} else {
						// This should never be hit (should only happen if no results to query, which is resolved above), but just in case...
						$("#no-results-msg").html($("#no-results-msg").html() + '<p>Try expanding your critera.</p>');
					}
				} else {
					$("#no-results-msg").html("");
				}
			}
		}
	}
	
</script>

{% endblock %}

{% block content %}

<div class="row" style="position: relative;">
	<div class="span6 offset3" style="position: absolute; top: 10px;">
		<div id="message" class="alert" style="display: none;">
			<a class="close" onclick="hide_message()">&times;</a>
			You have requested to borrow <span id="messageItem"></span> from <span id="messageUser"></span>.
		</div>
	</div>
</div>

<form id="searchForm" action="/search">
<div class="row">
	<div class="span2">
		<br/>
		<h3>Search:</h3>
	</div>
	<div class="span7">
		<br/>
		<h3>
			
			<input name="query" type="text" class="input-xxlarge search-query" placeholder="Enter Title, author, or ISBN..." value="{{ search }}">
			<button type="submit" class="btn">Search</button>
			
		</h3>
	</div>
	<div class="span3">
		<span id="flixster-attribution"></span>
	</div>
</div>
<br/>

<div class="row">
	<div class="span2">
		<div class="well" id="filter-results">
			<h5>Filter Results:</h5>
			<label class="checkbox"><input type="checkbox" checked="checked" id="show_out_of_network_items_checkbox">Show out-of-network items</label>
		</div>
		<div class="well" id="filter-item-type">
			<h5>Search:</h5>
			<label class="radio"><input type="radio" {% if include_type == "book" %}checked{% endif %} id="radio-books" name="item_type" value="book">Books</label>
			<label class="radio"><input type="radio" {% if include_type == "movie" %}checked{% endif %} id="radio-movies" name="item_type" value="movie">Movies</label>
		</div>
		<div class="well" id="filter-item-subtype">
			<h5>Include:</h5>
			<label class="checkbox" id="label-checkbox-books"><input type="checkbox" {% if subtype_book %}checked{% endif %} id="checkbox-books" name="subtype_book" value="{% if subtype_book %}true{% else %}false{% endif %}">Books</label>
			<label class="checkbox" id="label-checkbox-ebooks"><input type="checkbox" {% if subtype_ebook %}checked{% endif %} id="checkbox-ebooks" name="subtype_ebook" value="{% if subtype_ebook %}true{% else %}false{% endif %}">eBooks</label>
			<label class="checkbox" id="label-checkbox-audiobooks"><input type="checkbox" {% if subtype_audiobook %}checked{% endif %} id="checkbox-audiobooks" name="subtype_audiobook" value="{% if subtype_audiobook %}true{% else %}false{% endif %}">Audiobooks</label>
			<label class="checkbox" id="label-checkbox-dvds"><input type="checkbox" {% if subtype_dvd %}checked{% endif %} id="checkbox-dvds" name="subtype_dvd" value="{% if subtype_dvd %}true{% else %}false{% endif %}">DVDs</label>
			<label class="checkbox" id="label-checkbox-blurays"><input type="checkbox" {% if subtype_bluray %}checked{% endif %} id="checkbox-blurays" name="subtype_bluray" value="{% if subtype_bluray %}true{% else %}false{% endif %}">Blu-rays</label>
		</div>
		<div class="well" id="refine-book-search">
			<h5>Refine Search:</h5>
			<label class="radio"><input type="radio" id="searchAll" {% if include_type == "book" %}name="refineSearch" value="all"{% endif %}>All results</label>
			<label class="radio"><input type="radio" id="searchTitle" {% if include_type == "book" %}name="refineSearch" value="title"{% endif %}>Title only</label>
			<label class="radio"><input type="radio" id="searchAuthor" {% if include_type == "book" %}name="refineSearch" value="author"{% endif %}>Author only</label>
			<label class="radio"><input type="radio" id="searchISBN" {% if include_type == "book" %}name="refineSearch" value="isbn"{% endif %}>ISBN only</label>
		</div>
	</div>
	
	<div class="span10">
			<table class="table" id="results-table">
			{% for item in itemlist %}
				<tr class="{{ item.item_key }} content-row {% if 'book' in item.inNetwork %}row-book {% endif %}{% if 'ebook' in item.inNetwork %}row-ebook {% endif %}{% if 'audiobook' in item.inNetwork %}row-audiobook {% endif %}{% if 'dvd' in item.inNetwork %}row-dvd {% endif %}{% if 'bluray' in item.inNetwork %}row-bluray {% endif %}{% if item.inNetwork == [] %}notInNetwork{% endif %}">
					<td style="width: 100px"><img {% if item.thumbnail_link == "" %} src="{{ url_for('static', filename='img/nocoverart.png') }}"
							{% else %} src="{{ item.thumbnail_link }}" {% endif %} 
							style="height:auto;width:100px;"/></td>
					<td>
						<a href="/{% if item.item_type == 'book' %}book{% elif item.item_type == 'movie' %}movie{% endif %}/{{ item.item_key }}" 
							class="item-title tooltip-button" 
							data-toggle="tooltip" data-placement="right" 
							title="View {% if item.item_type == 'book' %}book{% elif item.item_type == 'movie' %}movie{% endif %} details">{{ item.title }}</a><br/>
						{% if item.item_type == "book" %}Author: {{ item.author }}
						{% elif item.item_type == "movie" %}Year: {{ item.year }}<br/>
						Genre: {{ item.genre }}<br/>
						Rating: {{ item.rating }}
						{% endif %}
					</td>
					<td style="width: 150px">
						<div class="btn-group library-btn-group tooltip-button" data-toggle="tooltip" data-placement="top" 
							title="{% if item.inLibrary == [] %}{% if user.is_authenticated() %}Add to library and make available to your network
							{% else %}Join or login to add to your library{% endif %}{% else %}Item is already in your library. Click to view library.{% endif %}" 
							id="add_btn_group{{ itemlist.index(item) }}">
							<a class="btn btn-{% if item.inLibrary == [] %}inverse{% else %}primary{% endif %} library-button"
								{% if user.is_authenticated() == False %}disabled{% endif %} 
								{% if item.inLibrary == [] %}onclick="{% if user.is_authenticated() and item.inLibrary == [] %}add_item('{% if item.item_type == 'book' %}book{% else %}dvd{% endif %}', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}"{% else %}href="/library"{% endif %} 
								id="add_button{{ itemlist.index(item) }}">{% if item.inLibrary == [] %}Add&nbsp;to&nbsp;Library{% else %}In&nbsp;Library{% endif %}</a>
							<a class="btn btn-{% if item.inLibrary == [] %}inverse{% else %}primary{% endif %} dropdown-toggle" data-toggle="dropdown" id="caret_button{{ itemlist.index(item) }}">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{% if item.item_type == 'book'%}
									{% if 'book' not in item.inLibrary %}<li><a id="add_book{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_item('book', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;Book&nbsp;to&nbsp;Library</a></li>{% endif %}
									{% if 'ebook' not in item.inLibrary %}<li><a id="add_ebook{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_item('ebook', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;eBook&nbsp;to&nbsp;Library</a></li>{% endif %}
									{% if 'audiobook' not in item.inLibrary %}<li><a id="add_audiobook{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_item('audiobook', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;Audiobook&nbsp;to&nbsp;Library</a></li>{% endif %}
								{% elif item.item_type == 'movie' %}
									{% if 'dvd' not in item.inLibrary %}<li><a id="add_dvd{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_item('dvd', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;DVD&nbsp;to&nbsp;Library</a></li>{% endif %}
									{% if 'bluray' not in item.inLibrary %}<li><a id="add_bluray{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_item('bluray', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;Blu-ray&nbsp;to&nbsp;Library</a></li>{% endif %}
								{% endif %}
							</ul>
						</div>
						{% if item.inNetwork == [] %}
							<a class="btn tooltip-button" 
								style="width:120px"
								data-toggle="tooltip" data-placement="bottom"
								title="Not available in your network" 
								disabled>Request&nbsp;to&nbsp;Borrow</a>
						{% else %}
							<a class="btn tooltip-button"
								style="width:120px" 
								{% if user.is_authenticated() == False %}disabled{% endif %}
								onclick="{% if user.is_authenticated() %}request_item('{{ item.item_key }}', '{{ item.escapedtitle }}', this){% endif %}"
								data-toggle="tooltip" data-placement="bottom"
								title="{% if user.is_authenticated() %}Request to borrow item from one of your connections{% 
								else %}Join or login to request to borrow items{% endif %}">Request&nbsp;to&nbsp;Borrow</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</table>
			<div id="no-results-msg"></div>
	</div>
</div>
</form>

<div id="borrowModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="borrowModalLabel">Users Who Have This Item</h3>
  </div>
  <div class="modal-body" id="borrowModalBody">
    <table id="borrowTable" class="table">
	</table>
  </div>
  <div class="modal-footer" id="borrowModalFooter">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

{% endblock %}
