
{% extends "maintemplate.html" %}

{% block title %}Search Books{% endblock %}

{% block style %}

<style type="text/css">
	.library-button {
		margin-bottom: 10px;
	}
	
	.library-dropdown {
		margin-top: -10px;
	}
	
	.notInNetwork {
		display: none;
	}
</style>

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>

<script type="text/javascript">
	
	$(function() {
		$(".tooltip-button").tooltip({trigger: "hover"});
		
		switch("{{attribute}}"){
			case "all":
				$("#searchAll").attr("checked", "true");	
				break;
			case "title":
				$("#searchTitle").attr("checked", "true");
				break;
			case "author":
				$("#searchAuthor").attr("checked", "true");
				break;
			case "isbn":
				$("#searchISBN").attr("checked", "true");
				break;
			default:
				$("#searchAll").attr("checked", "true");
		}
		
		if ($.cookie("{{ user.get_id() }}")) {
			$("#show_out_of_network_books_checkbox").removeAttr("checked");
			
			$("tr.notInNetwork").hide();
		}
		else {
			$("tr.notInNetwork").show();
		}
		
		$("#show_out_of_network_books_checkbox").change(function(){
			if($.cookie("{{ user.get_id() }}")) {
				$.removeCookie("{{ user.get_id() }}");
			}
			
			if(!$(this).is(":checked")) {
				$.cookie("{{ user.get_id() }}", "true", { expires: 365 });
				
				$("tr.notInNetwork").hide();
			}
			else {
				$("tr.notInNetwork").show();
			}
			
		});
		
		$("input[name='refineSearch']").change(function(){
			$(this).closest("form").submit();
		});
	});
	
	function add_book(book_type, item_key, book_key){
		//disable button and caret
		$("#add_button" + book_key).attr("disabled", "disabled");
		$("#caret_button" + book_key).attr("disabled", "disabled");
		$.post("/library/" + book_type + "/" + item_key, function(data) {
			//update text to In Library and update link to library
			//the link doesn't work as a href because it's a button, not an "a"
			$("#add_button" + book_key).text("In Library");
			$("#add_button" + book_key).removeAttr("onclick");
			$("#add_button" + book_key).attr("href", "\library");
			//update color to primary
			$("#add_button" + book_key).removeClass("btn-inverse").addClass("btn-primary");
			$("#caret_button" + book_key).removeClass("btn-inverse").addClass("btn-primary");
			//update tooltip
			$("#add_button" + book_key).tooltip("destroy").attr("title", "Book is already in your library. Click to view library.").tooltip({trigger: "hover"});
			//remove entry of item type clicked
			$("#add_" + book_type + book_key).hide();
			//enable button and caret
			$("#add_button" + book_key).removeAttr("disabled");
			$("#caret_button" + book_key).removeAttr("disabled");
		}).error(function() {
			$("#add_button" + book_key).removeAttr("disabled");
		});
		
		return false;
	}
	
	function request_book(item_key, title, button){
		$(button).attr("disabled", "disabled");
		$.getJSON("/search/inNetwork/" + item_key, function(data) {
			$(button).removeAttr("disabled");
			$('#borrowTable').empty();
			$.each(data, function(key, val) {
				
				var link = $('<a>', {
					'class': 'btn btn-inverse',
					onclick: 'borrow_book("' + val.bookCopyID + '", "' + key + '", this, "' + escape(title) + '", "' + val.username + '")',
					html: 'Request to Borrow'
				});
				if(!val.available) {
					link.attr("disabled", "");
				}
				
				$('#borrowTable')
				.append(
					$('<tr>')
					.append(
						$('<td>', {
							html: val.username
						}))
					.append(
						$('<td>')
						.append(
							link
						)
					)
				);
			});
			$("#borrowModal").modal('show');
		}).error(function() {
			$(button).removeAttr("disabled");
		});
		
		return false;
	}
	
	function borrow_book(bookCopyID, lenderID, button, bookTitle, lenderName) {
		$(button).attr("disabled", "disabled");
		$.getJSON("/setup_book_borrow/" + lenderID + "/" + bookCopyID, function(data) {
			$("#borrowModal").modal('hide');
			$("#messageBook").text("'" + unescape(bookTitle) + "'");
			$("#messageUser").text(lenderName);
			$("#message").show();
		});
	}
	
	function hide_message() {
		$("#message").hide();
		return false;
	}
</script>

{% endblock %}

{% block content %}

<div class="row" style="position: relative;">
	<div class="span6 offset3" style="position: absolute; top: 10px;">
		<div id="message" class="alert" style="display: none;">
			<a class="close" onclick="hide_message()">&times;</a>
			You have requested to borrow <span id="messageBook"></span> from <span id="messageUser"></span>.
		</div>
	</div>
</div>

<form id="searchForm" action="/searchbooks">
<div class="row">
	<div class="span2">
		<br/>
		<h3>Book Search:</h3>
	</div>
	<div class="span10">
		<br/>
		<h3>
			
			<input name="value" type="text" class="input-xxlarge search-query" placeholder="Enter Title, Author, or ISBN..." value="{{ search }}">
			<button type="submit" class="btn">Search</button>
			
		</h3>
	</div>
</div>
<br/>

<div class="row">
	<div class="span2">
		<div class="well">
			<h5>Filter Results:</h5>
			<label class="checkbox"><input type="checkbox" checked="checked" id="show_out_of_network_books_checkbox">Show out-of-network books</label>
		</div>
		<div class="well">
			<h5>Refine Search:</h5>
			<label class="radio"><input type="radio" id="searchAll" name="refineSearch" value="all">All results</label>
			<label class="radio"><input type="radio" id="searchTitle" name="refineSearch" value="title">Title only</label>
			<label class="radio"><input type="radio" id="searchAuthor" name="refineSearch" value="author">Author only</label>
			<label class="radio"><input type="radio" id="searchISBN" name="refineSearch" value="isbn">ISBN only</label>
		</div>
	</div>
	
	<div class="span10">
		{% if itemlist|length < 1 %}
		<h4>No books were found that match your search.  Try using more general search terms.</h4>
		{% else %}
			<table class="table">
			{% for item in itemlist %}
				<tr {% if item.inNetwork == "False" %} class="notInNetwork" {% endif %}>
					<td style="width: 100px"><img {% if item.thumbnail_link == "" %} src="{{ url_for('static', filename='img/nocoverart.png') }}"
							{% else %} src="{{ item.thumbnail_link }}" {% endif %} 
							style="height:auto;width:100px;"/></td>
					<td>
						Title: {{ item.title }}<br/>
						Author: {{ item.author_director }}
					</td>
					<td style="width: 150px">
						<div class="btn-group">
						  <button class="btn btn-{% if item.inLibrary == [] %}inverse{% else %}primary{% endif %} tooltip-button library-button"
							style="width:120px"
							{% if user.is_authenticated() == False %}disabled{% endif %} 
							onclick="{% if user.is_authenticated() and item.inLibrary == [] %}add_book('book', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}" 
							title="{% if item.inLibrary == [] %}{% if user.is_authenticated() %}Add to library and make available to your network{% 
							else %}Join or login to add to your library{% endif %}{% else %}Book is already in your library. Click to view library.{% endif %}"
							id="add_button{{ itemlist.index(item) }}">{% if item.inLibrary == [] %}Add&nbsp;to&nbsp;Library{% else %}In&nbsp;Library{% endif %}</button>
						  <button class="btn btn-{% if item.inLibrary == [] %}inverse{% else %}primary{% endif %} dropdown-toggle library-button" data-toggle="dropdown" id="caret_button{{ itemlist.index(item) }}">
							<span class="caret"></span>
						  </button>
						  {% if item.inLibrary != ['book', 'ebook', 'audiobook'] %}
						  <ul class="dropdown-menu library-dropdown">
							{% if 'book' not in item.inLibrary %}<li><a id="add_book{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_book('book', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;Book&nbsp;to&nbsp;Library</a></li>{% endif %}
							{% if 'ebook' not in item.inLibrary %}<li><a id="add_ebook{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_book('ebook', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;eBook&nbsp;to&nbsp;Library</a></li>{% endif %}
							{% if 'audiobook' not in item.inLibrary %}<li><a id="add_audiobook{{ itemlist.index(item) }}" onclick="{% if user.is_authenticated() %}add_book('audiobook', '{{ item.item_key }}', '{{ itemlist.index(item) }}'){% endif %}">Add&nbsp;Audiobook&nbsp;to&nbsp;Library</a></li>{% endif %}
						  </ul>
						  {% endif %}
						</div>
						{% if item.inNetwork == "False" %}
							<a class="btn tooltip-button" 
								style="width:120px"
								data-toggle="tooltip" data-placement="right"
								title="Not available in your network" 
								disabled>Request&nbsp;to&nbsp;Borrow</a>
						{% else %}
							<a class="btn tooltip-button"
								style="width:120px" 
								{% if user.is_authenticated() == False %}disabled{% endif %}
								onclick="{% if user.is_authenticated() %}request_book('{{ item.item_key }}', '{{ item.escapedtitle }}', this){% endif %}"
								data-toggle="tooltip" data-placement="right"
								title="{% if user.is_authenticated() %}Request to borrow book from one of your connections{% 
								else %}Join or login to request to borrow books{% endif %}">Request&nbsp;to&nbsp;Borrow</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
	</div>
</div>
</form>

<div id="borrowModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="borrowModalLabel">Users Who Have This Book</h3>
  </div>
  <div class="modal-body">
    <table id="borrowTable" class="table">
	</table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

{% endblock %}
